* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: orange;
    justify-content: space-around;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: space-around;
}